<!--<div class="container">
  <div>
    <h1>S'inscrire sur Turing Gallery</h1>
    Choisissez un pseudonyme (6 lettres min) : <input type="text" name="username" [(ngModel)]="username">
    <br>Créez un mot de passe (6 lettres min) : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=onSubmit() class="btn btn-success">
    S'inscrire
  </button>
</div>
-->
<body>
  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
      <div class="wrapper wrapper--w790">
          <div class="card card-5">
              <div class="card-heading">
                  <h2 class="title">Inscrivez-vous  sur  l'application  Turing  Gallery</h2>
              </div>
              <div class="card-body">
                  <form method="POST" >
                      
                      <div class="form-row">
                          <div class="name">Login </div>
                          <div class="value">
                              <div class="input-group">
                                    <input class="input--style-5" type="text" name="username" [(ngModel)]="username" #uname="ngModel" placeholder="Entrez votre pseudo avec 6 caractères minimum"
                                     minlength="6" maxlength="12" required>

                                    <div class="alert alert-danger" *ngIf="uname.errors?.minlength">
                                        Le login doit avoir au moins 6 caractères.
                                    </div> 

                                    <div class="alert alert-danger" *ngIf="uname.errors?.required">
                                        Le login est obligatoire.
                                    </div> 
                                   
                              </div>
                          </div>
                      </div>
                      <div class="form-row">
                              <div class="name">Mot de passe </div>
                              <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="password" [(ngModel)]="password" #upassword="ngModel" placeholder="Entrez votre mot de passe avec 6 caractères minimum" 
                                      minlength="6" maxlength="12" required>
                                  </div>

                                  <div class="alert alert-danger" *ngIf="upassword.errors?.minlength">
                                    Le mot de passe doit avoir au moins 6 caractères.
                                </div> 

                                <div class="alert alert-danger" *ngIf="upassword.errors?.required">
                                    Le mot de passe est obligatoire.
                                </div> 
                              </div>
                      </div>

                      <div class="form-row">
                          <div class="name">Confirmation de mot de passe </div>
                          <div class="value">
                              <div class="input-group">
                                  <input class="input--style-5" type="text" name="company" placeholder="Entre 6 et 12 caractères">
                              </div>
                          </div>
                      </div>

                      
                      <div>
                          <button (click)=onSubmit() class="btn btn--radius-2 btn--red" type="submit">S'inscrire</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </body>