#page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }
  
  main {
    background: #71c55d;
    background: linear-gradient(to right, #71c55d,#b8e2ae);
  }

  nav {
      margin: 20px;
  }
  