<main class="d-flex flex-column">
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="font-weight-light mt-4 text-white">ETAPE {{ step }} : CHOIX DU MODELE DE CATALOGUE</h1>
                    <p class="lead text-white-50">Seléctionner un modèle parmis ceux qui sont proposés</p>
                </div>
            </div>

            <!-- COMPONENT : CHOIX DU MODELE -->
            <app-model *ngIf="step === 1"></app-model>

            <!-- COMPONENT : CHOIX IMAGES -->
            <app-pictures *ngIf="step === 2"></app-pictures>

            <nav class="row">
                <div class="col-md-6">
                    <a href="/home" type="button" class="btn btn-danger">
                        <fa name="times"></fa> Annuler
                    </a>
                </div>
                <div *ngIf="step < 2" class="col-md-6">
                    <button type="button" class="btn btn-lg btn-info" (click)="onClickNextStep();">Etape suivante <fa
                            name="arrow-right" size="2x"></fa></button>
                </div>
                <div *ngIf="step === 2" class="col-md-6">
                    <button type="button" class="btn btn-lg btn-info">Générer le catalogue <fa
                            name="cogs" size="2x"></fa></button>
                </div>
            </nav>
        </div>

    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; turing-gallery</small>
        </div>
    </footer>
</main>