<section>
    <nav class="row">
        <fa class="btn btn-info fa" name="chevron-left" size="3x" (click)=" onClickPreviousPages()"></fa>
        <h3>PAGES {{ currentPages }}</h3>
        <fa class="btn btn-info fa" name="chevron-right" size="3x" (click)="onClickNextPages()"></fa>
    </nav>

    <article class="row">

        <!-- <aside class="col-sm-1">
            <fa class="btn btn-info fa" name="chevron-left" size="3x"></fa>
        </aside> -->

        <p *ngFor="let imgUrl of pages"><img [src]="imgUrl" alt="modele catalogue" width="296" height="421"/></p>

        <!-- <p><img src="../../../../assets/img/modele-catalog/modele-1/modele-cover-face.png" alt="modele catalogue 1" width="296" height="421"></p>
        <p><img src="../../../../assets/img/modele-catalog/modele-1/modele-1.png" alt="modele catalogue 1" width="296" height="421"></p>
        <p><img src="../../../../assets/img/modele-catalog/modele-1/modele-2.png" alt="modele catalogue 1" width="296" height="421"></p> -->
        <!-- <p><img src="../../../../assets/img/modele-catalog/modele-1/modele-3.png" alt="modele catalogue 1" width="296" height="421"></p>
        <p><img src="../../../../assets/img/modele-catalog/modele-1/modele-cover-back.png" alt="modele catalogue 1" width="296" height="421"></p> -->

        <!-- <aside class="col-sm-1">
            <fa class="btn btn-info fa" name="chevron-right" size="3x"></fa>
        </aside> -->

    </article>

    <footer class="row">
        <div class="col-sm-8" id="modele">
            <fa class="btn btn-info fa" name="arrow-left" size="2x"></fa>
            <div class="custom-control custom-checkbox checkbox">
                <input type="checkbox" class="custom-control-input" id="check-model-1">
                <label class="custom-control-label" for="check-model-1">MODELE N°{{ currentModel }}</label>
            </div>
            <fa class="btn btn-info fa" name="arrow-right" size="2x"></fa>
        </div>
        <div class="col-sm-4">
            1/2
        </div>
    </footer>
</section>